```
# Dependencies
.pub/
.buildlog
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Generated plugin code
lib/generated_plugin_registrant.dart

# Unit test coverage
coverage/

# Logs
logs/
*.log

# Directory attributes
.DS_Store
**/.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Files required for running the application
**/Flutter/flutter_export_environment.sh
**/Pods/.symlinks/flutter/**
```